body {
    font-family: Arial, sans-serif;
    background: url("img/pexels-francesco-ungaro-281260.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 60px;
    width: 60%;
    max-width: 60%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px;
    color: rgb(0, 0, 0);
}

input {
    width: 260px;
    padding: 10px;
    width: 93%;
    border-radius: 20px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}